@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Open+Sans:wght@300;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    color: #000100;
    background: rgb(195,34,182);
    background: linear-gradient(0deg, rgba(195,34,182,1) 0%, rgba(191,79,221,1) 21%, rgba(154,129,222,1) 65%, rgba(90,99,232,1) 100%); 
}

main {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: max(30vw, 30em);
    min-width: 300px;
    height: min(70vh,70em);
    background-color: #fcfcfccc;
    border-radius: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 35px #cecdcdcc;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo span {
    display: inline-block;
    font-weight: 100;
    font-size: 1.2em;
   vertical-align: sub;
}
.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

form {
    width: 100%;
    padding: 2.5em 2.5em 0 2.5em;
    margin: 0 auto;
}

label {
    background: gray;
}

.textfield, .submit-btn {
    display: block;
    margin: 1em 0;
    width: 100%;
    padding: 0.6em 0 0.6em 0.5em;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 12px;
    font-size: 1rem;
}
.submit-btn {
    color: #fff;
    background: #c322b6;
    background: linear-gradient(0deg, #dd64d3 0%, #dd7cf8 21%, #9a81de 65%, #656ef0 100%); 
    border: none;
    transition: 0.5s;
}
.submit-btn:hover {
    letter-spacing: 0.13em;
    box-shadow: 0 0 30px #656ef0 ;
}

.forgot-pw_link, .login_link, .sign-up_link {
    text-align: center;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .container {
        background: none;
        color: #fff;
        box-shadow: none;
    }

    .submit-btn {
        background: #fff;
        color: #000100;
    }
}