@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Open+Sans:wght@300;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 60vw;
    max-width: 50em;
    height: 70vh;
    max-height: 70em;
    background: bisque;
    border-radius: 1em;
}

.container {
    width: 100%;
    margin: 0 auto;
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    padding: 1em 0;
}

.lock-img {
    width: 2.5em;
    height: auto;
}

label {
    display: hidden;
}

.textfield {
    display: block;
    margin-bottom: 1em;
}

